@model MVCBasico12D.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    @*Formulario con Action RemoverAlumno del Model Curso*@
    @using (Html.BeginForm("RemoverAlumno", "Cursoes", FormMethod.Post))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sigla)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sigla)
            </dd>

            @*Creo una Select List dinamica con los alumnos correspondientes al curso*@
            <dd class="col-sm-10">
                <select id="alumnos">
                    @if (ViewBag.Alumnos != null)
                    {
                        foreach (Alumno a in ViewBag.Alumnos)
                        {
                            <option value=@a.Id>@a.Nombre @a.Apellido</option>
                        }
                    }
                </select>
                <input type="submit" id="btnRemover" value="Remover alumno" onclick="idAlumno()" />
                <input asp-for="Sigla" id="alumnoId" type="hidden" class="form-control" />
                <input asp-for="Id" id="cursos" type="hidden" class="form-control" value="@Model.Id" />
            </dd>
        </dl>
    }
    @using (Html.BeginForm("RemoverMateria", "Cursoes", FormMethod.Post))
    {
        <dl class="row">
            @*Creo una Select List dinamica con las materias correspondientes al curso*@
            <dd class="col-sm-10">
                <select id="materias">
                    @if (ViewBag.Materias != null)
                    {
                        foreach (Materia m in ViewBag.Materias)
                        {
                            <option value=@m.Id>@m.Nombre @m.Anio</option>
                        }
                    }
                </select>
                <input type="submit" id="btnRemover" value="Remover materia" onclick="idMateria()" />
                <input asp-for="Sigla" id="materiaId" type="hidden" class="form-control" />
                <input asp-for="Id" id="cursos" type="hidden" class="form-control" value="@Model.Id" />
            </dd>
        </dl>
     }
    </div>
<script src="~/js/site.js"></script>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
