@model MVCBasico12D.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    @*Formulario con Action RemoverAlumno del Model Curso*@
    @using (Html.BeginForm("RemoverAlumno", "Cursoes", FormMethod.Post))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sigla)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sigla)
            </dd>

            @*Creo una Select List dinamica con los alumnos correspondientes al curso*@
            <dd class="col-sm-10">
                @Html.DropDownList("alumnos",
                new SelectList(ViewBag.Alumnos))
                <input type="submit" id="btnRemover" value="Remover alumno" onclick="dniAlumno()" />
                <input asp-for="Sigla" id="dni" type="hidden" class="form-control" />
                <input asp-for="Id" id="cursos" type="hidden" class="form-control" value="@Model.Id" />
            </dd>
        </dl>
    }
    @using (Html.BeginForm("RemoverMateria", "Cursoes", FormMethod.Post))
    {
        <dl class="row">
            @*Creo una Select List dinamica con las materias correspondientes al curso*@
            <dd class="col-sm-10">
                @Html.DropDownList("materias",
                new SelectList(ViewBag.Materias))
                <input type="submit" id="btnRemover" value="Remover materia" onclick="idMateria()" />
                <input asp-for="Sigla" id="materiaId" type="hidden" class="form-control" />
                <input asp-for="Id" id="cursos" type="hidden" class="form-control" value="@Model.Id" />
            </dd>
        </dl>
     }
    </div>
<script src="~/js/site.js"></script>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
