@model IEnumerable<MVCBasico12D.Models.MateriaProfesor>

@{
    ViewData["Title"] = "Asignar profesor a materia";
}

<h1>Materia por profesor</h1>

<p>
    <a asp-action="Create">Asignar profesor a materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProfesorId)
            </th>
            <th>
                Profesor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MateriaId)
            </th>
            <th>
                Materia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfesorId)
            </td>
            @if (ViewBag.Profesores != null)
            {
                foreach (Profesor profesor in ViewBag.Profesores)
                {
                    if (profesor.Id == item.ProfesorId)
                    {
                        <td>
                            @profesor.Nombre @profesor.Apellido
                        </td>
                    }
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.MateriaId)
            </td>
            @if (ViewBag.Materias != null)
            {
                foreach (Materia materia in ViewBag.Materias)
                {
                    if (materia.Id == item.MateriaId)
                    {
                        <td>
                            @materia.Nombre @materia.Anio
                        </td>
                    }
                }
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
