@model IEnumerable<MVCBasico12D.Models.CursoMateria>

@{
    ViewData["Title"] = "Asignar materia a curso";
}

<h1>Materias por curso</h1>

<p>
    <a asp-action="Create">Asignar materia a curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Curso
            </th>
            <th>
                Materia
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if (ViewBag.Cursos != null)
                {
                    foreach (Curso curso in ViewBag.Cursos)
                    {
                        if (curso.Id == item.CursoId)
                        {
                        <td>
                            @curso.Sigla
                        </td>
                    }
                }
            }
                    @if (ViewBag.Materias != null)
                    {
                        foreach (Materia materia in ViewBag.Materias)
                        {
                            if (materia.Id == item.MateriaId)
                            {
                            <td>
                                @materia.Nombre @materia.Anio
                            </td>
                        }
                    }
                }
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
}
    </tbody>
</table>
