@model IEnumerable<MVCBasico12D.Models.Nota>

@{
    ViewData["Title"] = "Notas";
}

<h1>Notas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Alumno
            </th>
            <th>
                Materia
            </th>
            <th>
                Nota
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuatrimestre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (ViewBag.Alumnos != null)
            {
                foreach (Alumno alumno in ViewBag.Alumnos)
                {
                    if (alumno.Id == item.AlumnoId)
                    {
                        <td>
                            @alumno.Nombre @alumno.Apellido
                        </td>
                    }
                }
            }
            @if (ViewBag.Materias != null)
            {
                foreach (Materia materia in ViewBag.Materias)
                {
                    if (materia.Id == item.MateriaId)
                    {
                        <td>
                            @materia.Nombre @materia.Anio
                        </td>
                    }
                }
            }
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuatrimestre)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
