@model MVCBasico12D.Models.CursoAlumno

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar?</h3>
<div>
    <h4>Alumno por curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlumnoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlumnoId)
        </dd>
        <dt class="col-sm-2">
            Alumno
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Alumno.Nombre @ViewBag.Alumno.Apellido
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CursoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CursoId)
        </dd>
        <dt class="col-sm-2">
            Curso
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Curso.Sigla
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
