@model IEnumerable<MVCBasico12D.Models.CursoAlumno>

@{
    ViewData["Title"] = "Asignar alumno a curso";
}

<h1>Alumnos por curso</h1>

<p>
    <a asp-action="Create">Asignar alumno a curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Alumno
            </th>
            <th>
                Curso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            @if (ViewBag.Alumnos != null)
            {
                foreach (Alumno alumno in ViewBag.Alumnos)
                {
                    if (alumno.Id == item.AlumnoId)
                    {
                        <td>
                            @alumno.Nombre @alumno.Apellido
                        </td>
                    }
                }
            }
                @if (ViewBag.Cursos != null)
                {
                    foreach (Curso curso in ViewBag.Cursos)
                    {
                        if (curso.Id == item.CursoId)
                        {
                        <td>
                            @curso.Sigla
                        </td>
                    }
                }
            }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
}
    </tbody>
</table>
