@model MVCBasico12D.Models.Materia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materia</h4>
    <hr />
    @*Formulario con Action RemoverProfesor del Model Materia*@
    @using (Html.BeginForm("RemoverProfesor", "Materias", FormMethod.Post))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Anio)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Anio)
            </dd>

            @*Creo una Select List dinamica con los profesores correspondientes a la materia*@
            <dd class="col-sm-10">
                @Html.DropDownList("profesores",
                new SelectList(ViewBag.Profesores))
                <input type="submit" id="btnRemover" value="Remover profesor" onclick="dniProfesor()" />
                <input asp-for="Nombre" id="dni" type="hidden" class="form-control" />
                <input asp-for="Id" id="materias" type="hidden" class="form-control" value="@Model.Id" />
            </dd>
        </dl>
    }
    </div>
<script src="~/js/site.js"></script>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
